body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'nav main'
        'footer footer';
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 150px 1fr;

}


.header {
    background-color: blue;
    grid-area: header;
    text-align: center;
    padding-top: 15px;
}

.nav {
    background-color: aqua;
    grid-area: nav;
    padding: 3%;
}

.main {
    background-color: chocolate;
    grid-area: main;
}

.footer {
    background-color: darkcyan;
    grid-area: footer;
}



.box {
    border: solid 1px black;
    margin:  0px;
}


.grid-discos{
    display: grid;
    grid-template-columns: auto auto auto;
}

.discos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: aliceblue;
}

.img_disco{
    height: 60%;
}

.img_disco img{
    height: 100%;
}




.texto{
    height: 100%;
    width: 100%;
    background-color: #2be2c3;
    text-align: center;
}


.boton{
    display: flex;
    justify-content: center;
    border-top: solid 1px rgb(222, 220, 220);
    border-bottom: solid 1px rgb(222, 220, 220);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {
    background-color: #A491D2;

    color: white;

    height: 100%;
    width: 100%;
}

.boton buttom {
    height: 100%;
    width: 100%;}

